<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HS_MultipleFlatRate" setup_version="1.0.0">
        <sequence>
            <module name="HS_All"/>
            <module name="Magento_Config"/>
            <module name="Magento_OfflineShipping"/>
        </sequence>
    </module>
</config>
